.button, .styled-btn {
  -fx-background-color: @main-blue;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-font-size: 14px;
  -fx-border-radius: 5px;
  -fx-padding: 4px 15px;

  &.delete-btn {
    -fx-background-color: @delete-red;

    &:hover {
      -fx-background-color: darken(@delete-red, 10%);
    }
  }
  &:hover {
    -fx-cursor: hand;
    -fx-background-color: darken(@main-blue, 10%);
  }
}